.container{
    background-color: #FBFBFB;
    padding:30px;
    border-radius: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color:#20253A;
    font-size: 15px;
    font-weight: 500;
}

.legend{
    display: flex;
}

.calories{
    margin-left: 40px;
}

.calories::marker{
    color: #E60000;
}

.tooltip{
    background-color: #E60000;
    padding: 5px;
    color: #FBFBFB;
    font-weight: 500;
    font-size: 15px;
}
