.container{
    height: 124px;
    width: 300px;
    border-radius: 20px;
    background-color: #FBFBFB;
    margin-bottom: 38px;
    display: flex;
    align-items: center;
}

.logo{
    padding: 16px;
    border-radius: 10px;
    margin-left: 40px;
    width: 30px;
    height: 30px;
}

.text{
    margin-left: 20px;
}