.container{
    background-color: #FF0000;
    border-radius: 20px;
    height: 250px;
}

.altContainer{
    background-color: blue;
    border-radius: 20px;
    height: 250px;
}

.title{
    color:#FFFFFF;
    opacity: 50%;
    padding: 20px;
    font-size: 15px;
}

.tooltip{
    background-color: #FFFFFF;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
}
